<div class="header">
    <div>
        <h3>{{ email.subject }}</h3>
        <div>
            From: <i>{{ email.from }}</i>
        </div>
        <div>
            To: {{ email.to }}
        </div>
    </div>
    <div>
        <app-email-reply [email]="email"></app-email-reply>
    </div>
</div>
<div class="ui divider"></div>
<div [innerHtml]="email.html"></div>

<!-- <app-modal (dismiss)="showModal = false" *ngIf="showModal">
    <div modattitle>Reply</div>
    <app-email-form (emailSubmit)="externalSubmit(email)" ></app-email-form>
</app-modal> -->