<h3>Create an account</h3>
<form class="ui form" [formGroup]="authForm">
    <app-input lable="Username" [control]="getControl('username')" [inputType]="inputTypes.text"></app-input> 
    <app-input label="Password" [control]="getControl('password')" [inputType]="inputTypes.password"></app-input>
    <app-input label="Password Confirmation" [control]="getControl('passwordConfirmation')" [inputType]="inputTypes.password"></app-input>
    <div>
        <button class="ui submit button primary">Submit</button>
    </div>
</form>