<div class="field">
    <label >{{ label }}</label>
    <input [formControl]="control" [type]="inputType"/> 
    <div *ngIf="control.touched && control.errors" class="ui pointing red basic label">
        <p *ngIf="control.touched && control.errors['required']">
            Value is required
        </p>
        <p *ngIf="control.touched && control.errors['minlength']">
            Value you entred is {{ control.errors['minlength'].actualLength }} characters long, but it must be ta least {{ control.errors['minlength'].requiredLength }} characters
        </p>
        <p *ngIf="control.touched && control.errors['maxlength']">
            Value you entred is {{ control.errors['maxlength'].actualLength }} characters long, but it cannot be longer than {{ control.errors['maxlength'].requiredLength }} characters
        </p>
        <p *ngIf="control.touched && control.errors['pattern']">
            Invalid format
        </p>
        <p *ngIf="control.touched && control.errors['nonUniqueUsername']">
            Username is taken
        </p>
        <p *ngIf="control.touched && control.errors['noConnection']">
            Somehting went wrong, please check your connection !
        </p>
    </div>
</div>
